@model PPcore.Models.project_sponsor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>project_sponsor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.confirm_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.confirm_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contactor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contactor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contactor_detail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contactor_detail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ref_doc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ref_doc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.spon_desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.spon_desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x_log)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x_log)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x_note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x_note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x_status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x_status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
</body>
</html>
